.contact {
  &-thanks {
    padding: 80px 0 144px;
    @include mq(s) {
      padding: 48px 0 72px;
    }
    &__title {
      @include fz(32, 24);
      text-align: center;
    }

    &__text {
      margin-top: 48px;
      text-align: center;
    }

    &__link {
      max-width: 320px;
      margin-top: 48px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
