.dn-max-l {
  @include mq(l) {
    display: none !important;
  }
}

.dn-max-m {
  @include mq(m) {
    display: none !important;
  }
}

.dn-max-s {
  @include mq(s) {
    display: none !important;
  }
}

.dn-min-s {
  @include mq(rvs) {
    display: none !important;
  }
}

.dn-min-m {
  @include mq(rvm) {
    display: none !important;
  }
}

.dn-min-l {
  @include mq(rvl) {
    display: none !important;
  }
}
