.maintenance {
  &-plan {
    margin-top: 80px;
    padding-bottom: 128px;
    @include mq(s) {
      margin-top: 48px;
      padding-bottom: 64px;
    }
    &__title {
      @include fz(30, 22);
      line-height: 30px;
      padding-left: 12px;
      border-left: 6px solid $main;
      @include mq(s) {
        line-height: 22px;
      }
    }
    &__overview {
      margin-top: 56px;
      width: 100%;
      overflow: auto;
      @include mq(s) {
        margin-top: 32px;
      }
      .text {
        margin-top: 16px;
        @include fz(12, 12);
        color: $text-peal;
      }
    }
    &__list {
      display: block;
      @include mq(s) {
        width: 1022px;
      }
    }
  }
}
