.series {
  &-mirror {
    margin-top: 80px;
    @include mq(s) {
      margin-top: 48px;
    }
    &__title {
      width: 100%;
      padding-bottom: 12px;
      position: relative;
      border-bottom: 2px solid $border;
      @include fz(26, 22);
      font-weight: 500;
      line-height: 26px;
      font-weight: 500;
      .en {
        @include fz(30, 24);
      }
      @include mq(s) {
        line-height: 22px;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 176px;
        height: 0;
        border-bottom: 2px solid $main;
      }
    }
    &__text {
      margin-top: 1.6em;
    }
    &__image {
      display: block;
      margin-top: 48px;
      @include mq(s) {
        margin-top: 32px;
      }
    }
    &__flex {
      @include flex();
      gap: 4px;
      margin-top: 56px;
      @include mq(m) {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
      }
      @include mq(rvm) {
        flex-wrap: nowrap;
      }
      @include mq(s) {
        margin-top: 32px;
      }
    }
    &__single {
      flex: 1;
      aspect-ratio: 1/1;
      @include flex(space-between, center);
      flex-direction: column;
      padding: 24px;
      background: $main-peal;
      @include mq(m) {
        flex-basis: calc(50% - 2px);
      }
      @include mq(s) {
        flex-basis: 100%;
        aspect-ratio: unset;
        gap: 16px;
        aspect-ratio: 9/7;
      }
      > * {
        width: 100%;
      }
      .title {
        @include fz(18, 16);
        font-weight: 700;
      }
      .image {
        text-align: center;
      }
      .text {
        text-align: center;
        @include fz(15, 13);
        span {
          display: block;
          @include fz(12, 10);
        }
      }
    }
  }
}
