$main: #00c8ac;
$main-peal: #ccebe7;
$main-pl: #e4f6f5;
$main-right: #edfaf9;
$main-dark: #5a9088;

$sub: #e66084;
$text: #363636;
$text-peal: #818181;

$border: #d3d3d3;
$border2: #707070;
$back_gree: #f4f4f4;
$back_blue: #f0f5f7;
