.wrap {
  width: 1164px;
  max-width: 100%;
  padding: 0 32px;
  margin-left: auto;
  margin-right: auto;
  @include mq(m) {
    padding: 0 20px;
  }
}

.wrap-mini {
  width: 1064px;
  max-width: 100%;
  padding: 0 32px;
  margin-left: auto;
  margin-right: auto;
  @include mq(m) {
    padding: 0 20px;
  }
}

.en {
  font-family: 'Inter', sans-serif;
}

main {
  overflow: hidden;
}

//align

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-left_sp {
  @include mq(s) {
    text-align: justify;
  }
}

.t-center_sp {
  @include mq(s) {
    text-align: center;
  }
}

.t-right_sp {
  @include mq(s) {
    text-align: right;
  }
}
